* {
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}


.row {
    background-color: blue;

}

.container2 {
    margin-top: 80px;
}

.box {
    background-color: lightgrey;
    margin: 2%;
    margin-right: 3% !important;
    float: left;


    width: 95%;
    border-radius: 15px;

}

.titulo {
    float: right;
    border-left: 1px black;
    border-bottom: 1px black;;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    padding: 5px;
    width: 25%;
    min-width: 75px;
    text-align: center;


}

.texto {
    clear: right;
    padding: 15px;
padding-bottom: 20px;

}

#chicken {
    background-color: rosybrown;

}
#beef {
    background-color: brown;
    color: white;

}

#sushi {
    background-color: burlywood;


}

.font1 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    margin-left: 3%;
}

.font2 {
    font-family: 'Roboto Flex', sans-serif;
    
}

@media (min-width: 992px) {
 .navbar-nav {
    display:none;
 }
}